<!-- views/departments.ejs code... -->

<%- include('layout') %>

    <h2 class="departments-heading">Departments</h2>
    <form action="/department/create/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" required>

        <button type="submit">Add Department</button>
    </form>

    <ul class="department-lists">
        <% departments.forEach(department=> { %>
            <li>
                <%= department.name %> - <%= department.description %>
            </li>
            <li>
                <a class="btn btn-raised btn-danger" href="/department/<%= department._id %>">Delete</a>
            </li>
            <% }) %>
    </ul>
