<!-- views/layout.ejs code... -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee - Department relations</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>Employee - Department relations</h1>
        <nav>
            <ul>
                <li class="nav-lists"><a href="/employee">Employees</a></li>
                <li class="nav-lists"><a href="/departmment">Departments</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>
